<html>
<head>
<style type="text/css">
	.photo
	{
		float:left;
		display: inline;
		width:10%;
		margin:20px;
	}

	.personalDetails
	{
		float:left;
		display: inline;
		margin:20px;
		width:40%;
	}

	.header
	{
		display: inline-block;
		width:100%;
	}

</style>
</head>
<body>
	<div class="header">
		<img class="photo" height="100px" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/35447_10151456710341696_618751747_n.jpg"/>
		<div class="personalDetails">
			<h2><%= @employee.name %></h2>
			<h2><%= @employee.email %></h2>
		</div>
	</div>
	<hr/>
	<div class="main">
		<table class="table" style="text-align:left;">
			<tr>
				<th>EMPLOYEE ID</th>
				<td><%= @employee.employees_id %></td>
			</tr>
			<tr>
				<th>EMPLOYEE DOB</th>
				<td><%= @profile.dob.to_s %></td>
			</tr>
			<tr>
				<th>ADDRESS</th>
				<td><%= @addr.addressLine1 %></td>
			</tr>
			<tr>
				<th></th>
				<td><%= @addr.addressLine2 %></td>
			</tr>
			<tr>
				<th>CITY</th>
				<td><%= @addr.city %></td>
			</tr>
			<tr>
				<th>STATE</th>
				<td><%= @addr.state %></td>
			</tr>
			<tr>
				<th>ROLE</th>
				<td><%= @rname %></td>
			</tr>
			<tr>
				<th>DEPARTMENT</th>
				<td><%= @dname %></td>
			</tr>
			<tr>
				<th>MANAGER NAME</th>
				<td><%= @mname %></td>
			</tr>		</table>
	</div>
</body>
</html>